/* Navbar in MG orange with white text. */
.navbar-inverse {
    background-color: #E73C00;
    border-color: #E73C00;
    color: #C01000;
    font-weight: 500;
}

/* Navbar search bar */
.form-control:focus {
  border-color: #CCC;
  box-shadow: none;
}

/* Selected navbar element styling */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: white;
    background-color: #E73C00;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

/* unselected navbar elements */
.navbar-inverse .navbar-nav > li > a {
  color: #EEE;
}

/* Main content margin */
.article {
  margin-top: 80px;
}

/* Links in MG orange */
button, a {
    color: #E73C00;
}

a:focus, a:hover, button:focus, button:hover, .btn:focus, .btn:hover {
  color: #E73C00;
  text-decoration: underline;
}
/* Don't underline expanders */
a.expander:focus, a.expander:hover {
  text-decoration: unset;
}

/* toc */
.sidetoc.shiftup {
  bottom: 0px;
}
.sidetoc {
  top: 115px;
}
.sidefilter {
  padding-top: 20px;
  top: 50px;
}
.toc .nav > li.active > a, .toc .nav > li.active > a:focus, .toc .nav > li.active > a:hover {
  color: #E73C00;
}
.toc .nav > li > a:focus, .toc .nav > li > a:hover {
  color: #E73C00;
}


/* affix */
.sideaffix > div.contribution > ul > li > a.contribution-link:hover, .sideaffix > div.contribution > ul > li > a.contribution-link:focus {
  text-decoration: underline;
}
.affix h5 {
  display: none;
}
.affix > ul > li.active > a, .affix ul > li.active > a, .affix > ul > li.active > a::before, .affix ul > li.active > a::before {
  color: #E73C00;
}
.affix > ul.level1 {
  margin-right: 0px;
}

/* small screens */
.navbar-form {
  line-height: 3;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-width: 0px
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #E66A38
}
.navbar-inverse .navbar-toggle {
  border-color: #E66A38
}
#search {
  max-width: 400px;
  margin: 0 auto;
  box-shadow: none;
  border-bottom-width: 1px;
  border-bottom-color: rgba(255,255,255,.1);
}

/* API */
.api-table {
  text-align: justify;
  vertical-align: top;
}
.api > h2 {
  margin-bottom: 25px;
}
/* API expanders */
.expander:before {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  color: grey;
  font-size: medium;
  position: absolute;
  left: -10px;
  margin-top: 10px;

  transition: transform .2s ease-out;
}
.expander.collapsed:before {
  transform: rotate(-90deg);
}

/* Namespace tables */
table.api-table td {
  border-top: #ccc 1px solid;
  padding-top: 10px;
  padding-bottom: 10px;
}
table.api-table td.member {
  min-width: 200px;
  width: 30%;
}
table.api-table td.summary {
  width: 70%;
}
@media (max-width: 768px) {
  table.api-table td.member {
    width: 100%;
    float: left;
    padding-bottom: 0px;
  }
  table.api-table td.summary {
    width: 100%;
    border: none;
    float: left;
    padding-top: 0px;
  }
}
/* Class page */
.api h5 {
  margin-top: 10px;
  margin-bottom: 5px;
}
.inheritance h5 {
  border-bottom: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
.class-loc {
  padding-top: 10px;
  padding-bottom: 8px;
}
.class-loc h5 {
  margin-top: 5px;
}
/* View Source links */
article span.small.pull-right {
  margin-top: 3px;
}
/* They used a trick for anchors, but it's hacky and causes problems
 * with the View Source links, so we're overwriting it
 * we solve the anchoring with a script in main.js */
h1::before, h2::before, h3::before, h4::before {
  height: 0px;
  margin-top: 0px;
}

