{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}
{{!include(/^js/.*/)}}
{{!include(/^css/.*/)}}
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html>
  {{>partials/head}}
  <body data-spy="scroll" data-target="#affix" data-offset="110">
    <div class="flex-col">
      <header>
        {{^_disableNavbar}}
        {{>partials/navbar}}
        {{/_disableNavbar}}
      </header>
      <div class="flex-row flex-stretch no-overflow">
        {{>partials/toc}}
        <div class="flex-stretch flex-row scroll-y">
          <div id="page-main" class="flex-stretch">
            <div id="main-wrapper">
                {{>partials/breadcrumb}}
              <div id="content-wrapper">
                {{!body}}
              </div>
              <div id="prevnext">
                <a id="prev" class="page-nav"><i class="material-icons">keyboard_arrow_left</i></a>
                <a id="next" class="page-nav"><i class="material-icons">keyboard_arrow_right</i></a>
              </div>
            </div>
          </div>
          {{>partials/affix}}
        </div>
      </div>
    </div>
    {{>partials/scripts}}
  </body>
</html>
